{% extends 'base.html.twig' %}

{% block title %}Les pays{% endblock %}

{% block stylesheets %}
<style>
    .filter {
        position: sticky;
        top: 50px;
    }
</style>
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2">
                {{ form_start(form, { 'attr' : {'class' : "filter"} }) }}
                <div class="d-inline-block mr-5" style="float: left">
                    {{ form_row(form.recherche, { 'attr' : {'class' : "text-black mt-5"} }) }}
                    {{ form_row(form.continents, { 'attr' : {'class' : "text-black"} }) }}
                </div>    
                    
                    <button class="btn btn-primary btn-block btn-sm" type="submit">Appliquer</button>
                {{ form_end(form) }}
        </div>
        <div class="col-lg-10">
            <div class="row d-flex justify-content-around mt-3">
                <div class="navigation">
                    {{ knp_pagination_render(listCountrie) }}
                </div>
            </div>

            <div class="row">
                {% if listCountrie %}
                    {% for countrie in listCountrie %}
                    <div class="col-lg-3 mb-4 mt-4">
                        <div class="card mb-3 shadow-lg mb-5 bg-white rounded" style="height: 410px;">
                        <img class="card-img-top" style="max-height:143px; height:143px" src={{countrie.sCountryFlag}} alt="Card image cap">
                            <div class="card-header font-weight-bold">{{countrie.sName}}</div>
                            <div class="card-body text-dark">
                                <p><b>Capitale:</b> {{countrie.sCapitalCity}}</p>
                                <p style="font-size: 14px;"><b>Phone Code:</b> {{countrie.sPhoneCode}}</p>
                                <p style="font-size: 14px;"><b>Langages:</b>
                                {% for language in countrie.languages %}
                                    {{language.sName}},
                                {% endfor %}
                                <p style="font-size: 14px;"><b>Continent:</b> {{countrie.continent.sName}}
                                </p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}    
                {% else %}
                    <h1>Aucune résultat</h1>
                {% endif %}
            </div>
            <div class="row d-flex justify-content-center mb-3">
                <div class="navigation">
                    {{ knp_pagination_render(listCountrie) }}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
