{% extends 'base.html.twig' %}

{% block title %}Hello ContinentController!{% endblock %}

{% block body %}

<div class="container">
    <div class="row d-flex justify-content-center mt-3">
        <div class="navigation">
            {{ knp_pagination_render(countries) }}
        </div>
    </div>
    <div class="row">
        {% for countrie in countries %}
            <div class="col-lg-3 mb-4 mt-4">
                <div class="card mb-3 shadow-lg mb-5 bg-white rounded" style="height: 410px;">
                <img class="card-img-top" style="max-height:143px; height:143px" src={{countrie.sCountryFlag}} alt="Card image cap">
                    <div class="card-header font-weight-bold">{{countrie.sName}}</div>
                    <div class="card-body text-dark">
                        <p><b>Capitale:</b> {{countrie.sCapitalCity}}</p>
                        <p class="card-text"><b>Phone Code:</b> {{countrie.sPhoneCode}}</p>
                        <p class="card-text"><b>Langages:</b>
                        {% for language in countrie.languages %}
                            {{language.sName}},
                        {% endfor %}
                        <p class="card-text"><b>Continent:</b> {{countrie.continent.sName}}
                        </p>
                    </div>
                </div>
            </div>
    {% endfor %}   
    </div>
    <div class="row d-flex justify-content-center mt-3">
        <div class="navigation">
            {{ knp_pagination_render(countries) }}
        </div>
    </div>
</div>
{% endblock %}
